.navbar{
	min-height: 100px;
	background:#fff;
}
.navbar-brand{
	font-size: 30px;
	letter-spacing: 1px;
	margin-left: 50px;
}
.black-link{
  color: black;
}
.page-header{
  color:#fff;
}
.btn-social-icon{
	padding-right: 25px;
	padding-left: 25px;
}
.me1{
	min-height: 68vw;
	margin-top: 100px;
	background-image: url("../img/bg4.jpg");
  background-repeat: round;
	color: floralwhite; 
}
.section1{
  color:floralwhite;
}
.nav-item{
	padding-left: 15px;
	padding-right: 15px;
}
.row{
  margin-left:5px;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: gray;
  text-align: center;
}
#footlink{
  text-decoration: none;
  color: black;
}
.py-2{
	margin-right: 50px;
}
.txt-black{
  color:#dedede;
  margin-left:30vw;
  margin-top: -45vw;
}
.rounded-circle{
	height:15vw;
	width: 15vw;
}
#mekunal {
  margin-top: 5vw;
  margin-left: 7vw;
}
.under{
  margin-top: 2vw;
  margin-left: 7vw;
}
body{
	z-index:0;
}
*{
	font-family: 'Lato', sans-serif;
}
.pd{
	margin-top: 3vw;
}

@media only screen and (max-width: 767px) {
    /* phones */
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
}
.rounded-circle{
  width: 120px;
  height: 120px;
}
.info-txt{
  margin-left: -47px;
  margin-right: 20px;
}
.center {
  margin-left: 50px;
  width: 50%;
  padding: 10px;
}
.under{
  margin-left: -3px;
  margin-top: 25px;
}
#about-me {
  margin-left: -30px;
  margin-top: 50px;
  font-size: 10px;
}
.side-info{
  padding-top: 15px;
}
h4{
  font-size: 20px;
}
.font-less2{
  font-size: 17px;
}
h3{
  font-size: 22px;
}
h2{
  font-size:25px;
}
h1{
  font-size:30px;
}
.navbar-brand{
  margin-left: 20px;
}
#side-info{
  margin-left:-38px;
}
.page-header{
  margin-left: -38px;
}
.adj{  
  white-space: nowrap;
}
.pj{
  font-size: 22px;
}
.text-adj{
  width: 200%;
}
.icons{
  display: inline-block;
}
}